* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}      
html
{
    padding: 0px;
    margin: 0px;
}
header
{
    padding: 0;
    background-image: linear-gradient(to right, #0389B0, #209FB9);
    color: white;
    overflow:auto;
}
body
{
    width:100%;
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-image: url("https://www.4shared.com/img/jPiA0ru-ea/s25/1754f12f1b8/BG_online");
    font-family: TW Cen MT, serif;
    background-color: #FEE1BF;
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:visited, a:focus
{
    text-decoration: none;
    color: white;
}
a:hover
{
    color: #DD6600;
}
.button
{
    margin: 3px;
    display: inline-block;
    font-weight: bold;
    padding: 0px 30px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color: #181411;
    box-shadow: 0px 2px 0px 0 rgba(0,0,0,0.24), 0px 0px 10px 0 rgba(0,0,0,0.19);
    border: 0px solid black;
    border-radius: 5px;
    vertical-align: middle;
}
.btn:hover
{
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0.19);
}
.button:active
{
    background-color: #FE7513;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
.topnav
{
    background-image: linear-gradient(to right, #FE7513, #FAA30F);
    overflow: hidden;
}
._topnav
{
    margin-left: 15%;
    font-family: TW Cen MT,serif;
    font-size: 21px;
    color: #181411;
    line-height: 18px;
}
.topnav a 
{
    margin: 5px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 0px 0px;
    text-decoration: none;
}

.input
{
    text-align: center;
}
.search
{
    padding-top: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.loginsignup 
{
    padding-right: 5%;
    margin: 0px;
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
    color: #fee1bf;
    text-align: end;
}

input[type=search]
{
    
    width: 67%;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: white;
    color: black;
}

.imgbox
{
    display: grid;
    height: 100%;
}
.center-fit, .welcome-small
{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
footer
{
    font: 100vw;
    color: white;
    background-color: #1B2226;
    display: fixed;
    text-align: center;
}

@media screen and (max-width: 600px)
{
    .topnav a {float: none; width: 100%;}
    .center-fit {display: none;}
    #height {height: 60px;}
    #logo {height: 115px;}

}

@media screen and (min-width: 600px)
{
    .welcome-small {display: none;}
    #logo-small {display: none;}
    #height
    {height: 110px; margin: 0px;}
    #logo {margin-top:-20px;}
}

